body {
  background: #00BCD4;
  background: url('../images/background.jpg') no-repeat center center fixed;
  background-size: cover;
  font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #ffffff;
}
a {
  color: #fff;
  text-decoration: none;
}
.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}
.text-left {
  text-align: left;
}
.overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
}
.overlay.solid-overlay {
  background: rgba(0, 0, 0, .65);
}
.conf-announcement {
  padding: 10px;
  height: 100%;
}
.conf-announcement > * {
  margin: 0;
}
.conf-name {
  font-size: 2.5em;
  line-height: 1;
  font-weight: 100;
}
@media (min-width: 768px) {
  .conf-name {
    font-size: 4em;
  }
}
.conf-information {
  margin-top: 5px;
  font-size: 1.5em;
  font-weight: 100;
}
.small-line {
  margin: 20px 0;
  width: 50px;
  background-color: rgba(255, 255, 255, 0.5);
  border: 0 none;
  height: 1px;
}
.inline-list {
  padding: 0;
}
.inline-list li {
  display: inline-block;
  font-size: .8em;
}
.inline-list a {
  color: rgba(255, 255, 255, 0.85);
}
.bullet {
  margin: 0 3px;
}
.fullvideo-container {
    z-index: 6;
    overflow: hidden;
    transform-origin: 0 0;
    will-change: transform;
}
.play-video {
  transform: translateY(90px);
}
.navbar-overlay {
    position: fixed !important;
    background: rgba(0, 0, 0, 0.5) !important;
    text-transform: uppercase;
    z-index: 9;
    transition: transform 400ms cubic-bezier(0, 0, 0.2, 1);
    will-change: transform;
    /*transform: translateY(-100%);
    &.active {*/
        transform: translateY(0);
    /*}*/
}
